.ListOfCities .card-cities,
.ListOfCities .list-cities-item {
  background-color: rgba(203, 186, 204, 0.9);
}

.ListOfCities .card-cities-title {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0 auto;
}

.ListOfCities .card-cities,
.ListOfCities .list-cities-item {
  border: 1px solid #522d5b;
  border-radius: 4px;
}

.ListOfCities .cities,
.ListOfCities .card-cities-title {
  font-family: "Baloo Chettan 2", cursive;
  color: #522d5b;
}

.ListOfCities .cities {
  text-decoration: none;
  transition: all 200ms ease-in-out;
}

.ListOfCities .cities:hover,
.ListOfCities .cities:focus {
  cursor: pointer;
  color: #900c3f;
}
